body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 1000px;
    /* height: 350px; */
    margin: 20px;
    /* background: grey; */
    color:#666666;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 300px;
    text-align: center;
    vertical-align: middle;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* align-content: center; ???*/
    justify-items: center;
}

section.small {
    border-right: 25px solid white;
        order: 1;
}

section.big {
    border: 4px solid #cccccc;
    background: #cccccc;
    order: 1;
}

header.basket{
    background-color:#cccccc ;
}


img {
    /* filter: grayscale(90%); */
    border: 1px dotted #cccccc;
    width: 100px;
}



/* .pic {
    width: 50%;
} */


@media screen and (max-width:930px) {
    main {
        width: 300px;
        height: 600px;
        grid-template-columns: none;
        /* grid-template-rows: repeat(1, 1fr); */
        grid-template-rows: 50px 200px 50px 200px;
    }
    section.small {
        border-right: none;
        order: 0;
    }
    section.big {
        order: 0;
    }

}